In [1]:
#import libraries

import pandas as pd
import numpy as np
import os


    # Step 1: Combining orders and orders with product_id datasets

In [2]:
path = r'C:\Users\shrut\Downloads\Task_data_analytics\Instacart Basket Analysis' # setting path variable as root

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [4]:
# defining dataframe of orders_consistencychecked.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_consistencychecked.csv'))

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [7]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [8]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [9]:
df_ords.shape

(3421083, 8)

In [10]:
df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_previous_order'],
      dtype='object')

In [11]:
df_ords.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [12]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_previous_order'],
      dtype='object')

In [13]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [14]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int64
 1   user_id                    int64
 2   order_number               int64
 3   orders_day_of_week         int64
 4   order_hour_of_day          int64
 5   days_since_previous_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [15]:
# Change types for ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_previous_order']=df_ords['days_since_previous_order'].astype('float16')

In [16]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

In [17]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [18]:
# Change types for ords prods data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [19]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [20]:
# Attempt a merge

ords_prods_merged = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [21]:
ords_prods_merged['_merge'].value_counts(dropna = False)

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [22]:
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [23]:
# Export data to pkl

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [24]:
ords_prods_merged.shape

(32434489, 10)

In [21]:
ords_prods_merged['_merge'].value_counts(dropna = False)

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64