In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\shrut\Downloads\Task_data_analytics\Instacart Basket Analysis' # setting path variable as root

In [3]:
# defining dataframe of orders_consistencychecked.csv
df_prod_ord_prior = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prod_ord_prior.shape

(32434489, 10)

In [5]:
df_prod_ord_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    int32
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_previous_order  float16
 6   product_id                 int32
 7   add_to_cart_order          int32
 8   reordered                  int8
 9   _merge                     category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 711.4 MB

In [6]:
df_prod_ord_prior.drop(columns = { '_merge'}, inplace = True)

In [7]:
# defining dataframe of products_consistencychecked.csv
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_consistencychecked.csv'))

In [8]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49693 non-null  int64
 1   product_id     49693 non-null  int64
 2   product_name   49677 non-null  object
 3   aisle_id       49693 non-null  int64
 4   department_id  49693 non-null  int64
 5   prices         49693 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [8]:
df_prod.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [9]:
df_prod.drop(columns = { 'Unnamed: 0'}, inplace = True)

In [13]:
# Further columns from other data sets

#df_prod['product_id'] =df_prod['product_id'].astype('int32')
#df_prod['aisle_id'] = df_prod['aisle_id'].astype('int8')
#df_prod['department_id'] = df_prod['department_id'].astype('int8')
df_prod['prices'] = df_prod['prices'].astype('float64')

In [16]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  float64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int8
 3   department_id  49693 non-null  int8
 4   prices         49693 non-null  float64
dtypes: float64(2), int8(2), object(1)
memory usage: 1.2+ MB

In [15]:
# Further columns from other data sets

df_prod['product_id'] =df_prod['product_id'].astype('float64')

In [17]:
# Attempt a merge

prods_merged = df_prod_ord_prior.merge(df_prod, on = ['product_id'], indicator = True)

In [18]:
prods_merged['_merge'].value_counts(dropna = False)

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [19]:
prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [20]:
# Export data to pkl

prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ord_prod_merged.pkl'))

In [21]:
prods_merged.shape

(32434212, 14)